* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: grid;
    grid-template-columns: 200px auto 700px auto;
    grid-template-rows: auto;

    font-family: 'Roboto', sans-serif;
    background-color: #EEEEEE;

    height: 100%;
    

}

/*
body main {

    overflow: scroll;

}
*/
/*
body aside {

    height: 100%;

}
*/

/* HEADER */

header {

    margin-top: 20px;

}

main header {

    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto auto auto auto;

}

main header > img {

    width: 90%;
    border-radius: 50%;
    grid-template-columns: 1 / 2;
    grid-template-rows: 1 / 5;

}

/* LATERAL */
aside {

    grid-column: 1 / 2;
    grid-row: 1 / 2;

}

/* HEADER */
main header > div:nth-child(2) {

    grid-column: 2 / 3;
    grid-row: 1 / 2;

}

main header > div:nth-child(3) {

    grid-column: 2 / 3;
    grid-row: 2 / 3;

}

main header > div:nth-child(4) {

    grid-column: 2 / 3;
    grid-row: 3 / 4;

}

main header > div:nth-child(5) {

    grid-column: 2 / 3;
    grid-row: 4 / 5;

}

main header > div:nth-child(6) {

    grid-column: 1 / 3;
    grid-row: 5 / 6;

    display: flex;
    flex-direction: row;

}

/* MENÚ */
main {

    display: grid;
    width: 700px;
    justify-content: center;
    grid-column: 3 / 4;
    grid-row: 1 / 2;


}

/*  POSTS - REELS -TAGGED  */
main > div:nth-child(2) {

    display: flex;
    overflow: hidden;

}

main > div:nth-child(2) > div:nth-child(1) {

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    overflow: hidden;

}

main > div:nth-child(2) > div:nth-child(1) img {

    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;

}


/* STORIES */
main header > div:nth-child(6) img {

    display: flex;
    width: 20px;
    height: 20px;

}

main header > div:nth-child(6) > div {

    display: flex;
    flex-wrap: wrap;

}

/*Fotos*/
main > div > div:nth-child(2) img {

    width: 200px;
    height: 200px;
    background: black;
    object-fit: cover;
    object-position: top;

    display: grid;
    grid-template-columns: auto auto auto;

}

main > div > div:nth-child(2) {

    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}



/*Font insert*/
@font-face {
    font-family: 'Roboto';
    src: url("/Roboto/Roboto-Regular.ttf")
}


/*Menú*/
aside {

    background-color: #FFFFFF;
    border-right: solid 2px #AAAAAA;

}

aside img {

    width: 30px;
    height: 30px;

}

/*cambiar*/
aside > div {

    justify-self: flex-end;

}

aside > h1 {

    position: fixed;
    margin-left: 10px;

}

aside > nav {

    position: fixed;
    top: 60px;
    margin-left: 10px;

}

aside > div {

    position: fixed;
    bottom: 10px;
    margin-left: 10px;

}

/*
aside {

    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;

    display: flex;
    flex-direction: column;

}
*/

/*MEDIA*/
@media only screen and (max-width: 600px){
    body {

        background-color: grey;

    }
}